button{
  margin: 10px;
}
nav{
  padding: 0 2rem;
}
.link:hover{
  color:white !important;
}
.loader{
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.title{
  text-align: center;
  font-size: 2.5em;
}
.author{
  text-align: center;
font-size: 2em;
}
.ikg{
  text-align: center;
  font-size: 1.75em;
}

@media (min-width:970px){
  .row .col.s8 {
    width: 50% !important;
}

.row .col.offset-s2 {

    margin-left: 25%;

}
}